<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Name}} - Детали продукта</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="product-details">
    <h1>{{.Name}}</h1>
    <p><strong>Цена:</strong> {{.Price}} руб/{{.Measure}}</p>
    {{if .CategoryName}}
    <p><strong>Категория:</strong> {{.CategoryName}}</p>
  {{end}}
    {{if .ImageURL}}
      <img src="{{.ImageURL}}" alt="{{.Name}}">
    {{end}}
    {{if .Params}}
      <p><strong>Характеристики:</strong> {{.Params}}</p>
    {{end}}
    {{if .Stock}}
    <p><strong>В наличии:</strong> {{ .Stock }}</p>
    {{end}}
    <a class="back-link" href="/products">Назад к списку продуктов</a>
  </div>
</body>
</html>