<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Каталог товаров</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <h1>Каталог товаров</h1>
  </header>
  <main>
    <div class="products">
      {{range .}}
      <a class="product-link" href="/products/{{.ID}}">
        <div class="product">
          <h2>{{.Name}}</h2>
          <p>Цена: {{.Price}} руб/{{.Measure}}</p>
          {{if .ImageURL}}
            <img src="{{.ImageURL}}" alt="{{.Name}}">
          {{end}}
        </div>
      </a>
      {{end}}
      <a class="product-link" href="/product/new"><div class="product">Добавить новый товар</div></a>
      </div>
  </main>
</body>
</html>